@footer-background-color: #fff;
.footer {
	background: @footer-background-color;
	width: 100%;
	position: relative;
	bottom: 0;
	border-top: 1px solid #dbdbdb;
	top: 10px;

	.flex-row {
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		padding-top: 20px;
	
		.flex-col:last-child {
			text-align: center;
		}

		.flex-col {
			flex-basis: 450px;
			position: relative;
			display: flex;
			justify-content: flex-start;

			.social-links {
				display: block;
				margin-top: 30px;
				text-align: center;
				li {
					display: inline-block;
					list-style-type: none;
					padding: 10px 20px;
					font-size: 22px;

				}
			}
			

			.services-map-w,
			.about-map-w {
				display: inline-block;
				
				ul {
					padding: 0px;
				}

				ul {

					li {
						
						list-style-type: none;
						a {
							color: #333;
							text-decoration: underline;
						}
					}

					li.list-title {
						font-weight: bold;
						font-size: 18px;
						color: #e5af97;
					}
				}
			}

			.services-map-w {

				ul {
					li.list-title {
						margin-left: 40px;
					}
					
					li.part-one,
					li.part-two {
						display: inline-block;

						ul {
							padding: 0 0 0 20px;
							margin: 0 20px;
						}
					}
				}
			}
		}
	}

	.company-info {
		width: 100%;
		text-align: center;
		address {
			margin: 0;
			padding: 0;

		}
	}
}