@footer-background-color: #fff;
.footer {
	background: @footer-background-color;
	width: 100%;
	position: relative;
	bottom: 0;
	border-top: 1px solid #dbdbdb;
	top: 10px;

	.flex-row {
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		.flex-col {
			flex-basis: 450px;
			position: relative;
				
			.company-info {
				position: absolute;
				text-align: center;
				bottom: 0;
				
				address {
					margin: 0;
				}

			}

			.social-links {
				margin-top: 30px;
				li {
					display: inline-block;
					list-style-type: none;
					padding: 10px 20px;
					font-size: 22px;
				}
			}
			
			.services-map-w,
			.about-map-w {
				display: inline-block;

				ul {

					li {
						
						list-style-type: none;
					}

					li.list-title {
						font-weight: bold;
						font-size: 18px;
						color: #e5af97;
					}
				}
			}

			.services-map-w {

				ul {
					text-align: center;

					li.part-one,
					li.part-two {
						display: inline-block;
					}
				}
			}
		}
	}
}