@import '../variables.less';
@navbar-background-color: #fff;
@navbar-item-color: #000;
.navbar.navbar-default {
	background: @navbar-background-color;
	border-color: @navbar-background-color;
}

.active {
	border-bottom-color: @main-color;
	color: @main-color;
}

.navbar {
	width: 100%;
	background: @navbar-background-color;
	border: none;
	border-radius: 0px;
	margin-bottom: 0px;
	z-index: 100;

	.navbar-header {
		.navbar-brand {
			text-align: center;
			height: 100px;
			
			img {
				vertical-align: center;
				height: 100%;
			}
		}
	}

	.navbar-collapse {

		.nav.navbar-nav {
			margin-top: 20px;

			li {

				a {
					font-family: 'Lobster Two', sans-serif;
					font-size: @intro-p-font-size;
					color: @navbar-item-color;
					transition: all .4s;
					border-bottom: 1px solid transparent;
				}

				a:hover,
				a:focus {
					color: @main-color;
					transition: all .3s;
					border-bottom-color: @main-color;
				}
			}
		}
		
		.center.navbar-nav {
			margin-top: 20px;
			background: rgba(255, 255, 255, .1);

			li {

				a {
					font-size: @p-font-size;
					color: @price-color;
				}
			}
		}
	}

}

@media (max-width: 400px) {
	.navbar {

		.navbar-header {
			.navbar-brand {
				height: 80px;
			}
		}
	}
}